.about {
  margin-bottom: 10px;
  background-color: rgba(241, 241, 241, 0.932);
  border-radius: 6px;
  padding: 20px;
  width: 600px;

  &__profession {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    color: #292929;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #333333;
    margin-bottom: 20px;
  }
  &__description {
    background-color: rgba(211, 211, 211, 0.856);
    border-radius: 8px;

    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    margin: 0;
    padding: 8px 10px;
  }
}
